{% extends "base.html" %}
{% block content %}
<h2>Tussenstand na {{date}}</h2>
<table>
  <thead>
    <tr>
      <th>Naam</th>
      <th>Groep</th>
      {% if settings_type == "percentage" %}
        <th>Percentage</th>
        <th>Score</th>
        <th>Partijen</th>
      {% else %}
        <th>Punten</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for p in players %}
    <tr>
      <td><a href="/speler/{{ p.id }}">{{ p.name }}</a></td>
      <td>{{ p.GroupNumber}}</td>
      {% if settings_type == "percentage" %}
        <td>{{ "%.1f"|format(p.MatchPercentage * 100) }}%</td>
        <td>{{ p.MatchScore }}</td>
        <td>{{ p.MatchesPlayed }}</td>
      {% else %}
        <td>{{ p.TotalPoints }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
